.labelValue {
    -fx-font-weight: bold;
    -fx-text-align: center;
}

.labelDate {
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-text-align: center;
}

.frameBlue {
    -fx-border-width: 3;
    -fx-border-color: navy;
    -fx-background-color: honeydew;
}

.frameYellow {
    -fx-border-width: 3;
    -fx-border-color: brown;
    -fx-background-color: ivory;
}

.frameEntered {
    -fx-border-width: 4;
    -fx-border-color: orangered;
    -fx-background-color: lightskyblue;
}

.frameClicked {
    -fx-border-width: 4;
    -fx-border-color: red;
    -fx-background-color: deepskyblue;
}

.mainLeftBackground {
    -fx-background: cornflowerblue;
    -fx-background-color: cornflowerblue;
}

.borderLine {
    -fx-border-width: 2;
    -fx-border-color: slategrey   ;
}

.viewPreciseData {
    -fx-background-color: aliceblue ;
    -fx-font-size: 15; -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-width: 0.2;
    -fx-border-color: black
}

.chart-series-area-fill {
    -fx-fill: #2222e195;
}