.labelValue {
    -fx-font-weight: bold;
    -fx-text-align: center;
}

.labelDate {
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-text-align: center;
}

.frameBlue {
    -fx-border-width: 3;
    -fx-border-color: navy;
    -fx-background-color: honeydew;
}

.frameYellow {
    -fx-border-width: 3;
    -fx-border-color: brown;
    -fx-background-color: ivory;
}

.frameEntered {
    -fx-border-width: 4;
    -fx-border-color: orangered;
    -fx-background-color: lightskyblue;
}

.frameClicked {
    -fx-border-width: 4;
    -fx-border-color: lightsalmon    ;
    -fx-background-color: deepskyblue;
}

.frameWasClicked {
    -fx-border-width: 4;
    -fx-border-color: indianred ;
    -fx-background-color: skyblue;
}

.mainLeftBackground {
    -fx-background: cornflowerblue;
    -fx-background-color: cornflowerblue;
}

.borderLine {
    -fx-border-width: 2;
    -fx-border-color: slategrey   ;
}

.viewPreciseData {
    -fx-background-color: aliceblue ;
    -fx-font-size: 13; -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-width: 0.2;
    -fx-border-color: black
}


.default-color0.chart-area-symbol { -fx-background-color: ROYALBLUE, white; }
.default-color1.chart-area-symbol { -fx-background-color: DARKVIOLET, white; }
.default-color2.chart-area-symbol { -fx-background-color: LIGHTSALMON, white; }
.default-color3.chart-area-symbol { -fx-background-color: RED, white; }
.default-color4.chart-area-symbol { -fx-background-color: MAGENTA, white; }
.default-color6.chart-area-symbol { -fx-background-color: AQUAMARINE, white; }
.default-color7.chart-area-symbol { -fx-background-color: BLACK, white; }
.default-color8.chart-area-symbol { -fx-background-color: GREEN, white; }

